<% include ../partials/head.ejs %>
  <body id="loginBody">
    <main class="loginMain">
      <div class="loginContainer">
       <h1 class="travello">Travello</h1>
        <form action="/auth/login" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username"/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
            <input class="btn waves-effect waves-light red" type="submit" value="Log In"/>
          </div>
        </form>
      </div>
    </main>
  <% include ../partials/footer %>
</body>
</html>
