<!DOCTYPE html>
<html>
  <head>
    <title></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="editbody">
<h4>Edit your itinerary</h4>
  <div class="row">
      <form class="col s12" method="POST" action="<%= `/itinerary/trip/${itinerary.id}/?_method=PUT` %>">
        <div class="row">
          <div class="input-field col s6">
             <input type ="text" name="content" placeholder="<%= itinerary.content%>">
              <input type="hidden" name="tripid" value="<%= itinerary.tripid%>">
          </div>
        </div>
        <button  class="btn waves-effect waves-light red" type="submit">Edit!</button>
      </form>
    </div>
    </body>
  </html>
