<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>

<form method="POST" action="<%= `/trips/${trips.id}/?_method=PUT` %>">
<label> Edit your message
  <input type ="text" name="content" placeholder="<%= trips.tripname%>">
</label>
<button>Edit</button>
</form>

  </body>
</html>