<!DOCTYPE html>
<html>
 <head>

   <title>Edit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body>

<form method="POST" action="<%= `/itinerary/trip/${itinerary.id}/?_method=PUT` %>">
<label> Edit your message
 <input type ="text" name="content" placeholder="<%= itinerary.content%>">
 <input type="hidden" name="tripid" value="<%= itinerary.tripid%>">
</label>
<button class="btn waves-effect waves-light red">Edit</button>
</form>
  <% include ../partials/footer %>
 </body>
</html>
