<!DOCTYPE html>
<html>
  <head>
    <title></title>

  </head>
  <body>

 <% itinerary.forEach(function(itinerary) { %>
 <ul>
      <div>
         <li><%= itinerary.content %></li>
        <form method="POST" action="<%= `/itinerary/${itinerary.id}/?_method=DELETE` %>">
            <button>X</button>
        </form>
        <a href= " <%= `${itinerary.id}/edit`%>  ">edit</a>
      </div>
      </ul>
 <% }) %>

<form method="POST" action="/itinerary">
<label> Message
  <input type ="text" name="content" placeholder="message">
</label>
<label>
<input type="text" name="tripid" placeholder="which trip">
</label>
<button>What do you have to say?</button>
</form>

  </body>
</html>
