<!DOCTYPE html>
<html>
  <head>
    <title></title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


  </head>
  <body id="itinerarybody">
<a href="/trips"><h1 id="itintitle">Itinerary</h1></a>
<div class="opaque tripmaker">
 <ul class="center">
 <% itinerary.forEach(function(itinerary) { %>

      <div >
         <li><%= itinerary.content %></li>
        <form method="POST" action="<%= `/itinerary/trip/${itinerary.id}/?_method=DELETE` %>">
            <button  class="delete">X</button>
        </form>
        <a href= " <%= `${itinerary.id}/edit`%>  ">edit</a>
      </div>

 <% }) %>
 </ul>
</div>

<form method="POST" action="<%= `/itinerary/trip/${index}` %>">
<label> Message
  <input type ="text" name="content">
</label>
<button class="waves-effect waves-light btn">Submit</button>
</form>

  </body>
</html>
