<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

 <% itinerary.forEach(function(itinerary) { %>
      <div>
         <li><%= itinerary.content %></li>
      </div>
 <% }) %>

  </body>
</html>
