<!DOCTYPE html>
<html>
  <head>
    <title>Itinerary</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body id="itinerarybody">
    <a href="/trips"><h1 id="itintitle">Itinerary</h1></a>
    <div class="opaque holder">
        <% itinerary.forEach(function(itinerary) { %>
          <div class="itineraryitem">
          <div class="icons">
              <form method="POST" action="<%= `/itinerary/trip/${itinerary.id}/?_method=DELETE` %>">
                <button  class="delete"><i class="material-icons trash">delete</i></button>
              </form>
              <a href= " <%= `${itinerary.id}/edit`%>  "><i class="material-icons edit">mode_edit</i></a>
              </div>
              <div class="text">
                <%= itinerary.content %>
              </div>
          </div>
        <% }) %>
    </div>
    <form class="itinform" method="POST" action="<%= `/itinerary/trip/${index}` %>">
      <label> Message
        <textarea type ="text" name="content"></textarea>
     </label>
     <button class="waves-effect waves-light btn">Submit</button>
    </form>
  </body>
</html>
