<%
  var url;
  var text;
  if (isLoggedIn === true) {
    text = 'LOGOUT';
    url = '/auth/logout';
  }
  else {
    text = 'LOGIN';
    url = "/auth/login";
  }
%>

<div class="indexForm">
  <form action="/auth/register" method="get">
    <input  class="btn waves-effect waves-light teal"  type="submit" value="REGISTER"/>
  </form>
  <form action= <%= url %> method="get">
    <input  id="login" class="btn waves-effect waves-light red" type="submit" value=<%= text %> />
  </form>
</div>
