<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="landing_pg">

    <h1 class="travello">Travello</h1>
    <p>Life was meant for good friends and great adventures</p>
    <% include ./partials/header %>

    <% include partials/footer %>
  </body>
</html>
