<% include ../partials/head.ejs %>
  <body>
    <main>
      <div class="container">
        Welcome to the Travello homepage <%=process.env.NODE_ENV%>
        <div class="">
        <%=title%>
        </div>
      </div>
    </main>
  </body>
</html>
