
$papaya:#E24E42;
$mustard:#f48e11;
$blushyRose:#ff2344;
$aqua:#0f78e0;

$background-standard:background:{ position: center center;
                                  repeat: no-repeat;
                                  attachment: fixed;
                                  size: cover;};

