@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Pacifico");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body#landing_pg {
  font: 25px "Lato";
  max-width: 800px;
  color: #E24E42;
}
body#landing_pg{
  padding: 50px;
  background-image:url("../images/travello_header.jpg");
}
a{
  color:#E24E42;
}
//Logo
.travello{
  font-family:'Pacifico';
  font-weight:700px;
  color:#E24E42;
}
//Register and login
input.btn{
  margin:0 5px;
  width:2em;
  height:5em;
  font: 15px "Lato";
  color:white;
}
//login button on index
#login{
  width:128px;
}
.container4Register, .loginContainer{
  padding-top: 100px;
}
#registerBody{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
      rgba(255,255,255,0) 0%,rgba(255,255,255,1) 65%),
    url("../images/Friends_Beach.jpg") no-repeat;
    background-size: cover;
}

#registerBody, #loginBody{
display:flex;
}
.registerMain, .loginMain{
margin: 0 auto;
}
