/*
Error: Invalid CSS after "@import ": expected file to import (string or url()), was "('_variables.sc..."
        on line 4 of style.scss

1: @import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Pacifico");
2: @import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css");
3: @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
4: @import ('_variables.scss');
5: 
6: html, body#landing_pg {
7:   font: 25px "Lato";
8:   max-width: 800px;
9:   color: #E24E42;

Backtrace:
style.scss:4
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1117:in `expr!'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:371:in `block in import_directive'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:370:in `loop'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:370:in `import_directive'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:197:in `directive'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/Users/student38/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \": expected file to import (string or url()), was \"('_variables.sc...\"\A         on line 4 of style.scss\A \A 1: @import url(\"https://fonts.googleapis.com/css?family=Lato|Montserrat|Pacifico\");\A 2: @import url(\"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css\");\A 3: @import url(\"https://fonts.googleapis.com/icon?family=Material+Icons\");\A 4: @import ('_variables.scss');\A 5: \A 6: html, body#landing_pg {\A 7:   font: 25px \"Lato\";\A 8:   max-width: 800px;\A 9:   color: #E24E42;"; }
