<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
  <form method="POST" action="<%= `/trips/${trips.id}/?_method=PUT` %>">
    <label> Edit your message
      <input type ="text" name="tripname" placeholder="<%= trips.tripname%>">
    </label>
    <button>EDIT</button>
  </form>
</body>
</html>
