<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn" href="#">New Trip</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="row">
      <h4>Create a Trip</h4>

        <form action="/trips" method="POST">
          <div>
            <label>Trip Name:</label>
            <input type="text" name="tripname"/>
          </div>
          <div>
            <label>Trip Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
            <label>Description:</label>
            <input type="text" name="description"/>
          </div>
          <button type="submit">Submit New Trip</button>
        </form>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>





  </body>
</html>
