<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
  <ul>
  <% trips.forEach(function(trips) { %>
  	<div>
  	<li><a href="#"><%= `${trips.tripname}:`%></a>
  		<%= trips.description%>
  		  <form  action="<%= `/trips/${trips.id}/?_method=DELETE` %>" method="POST">
            <button>DELETE</button>
        </form>
  	</li>
  	</div>
  <% }) %>
  </ul>
  <a href="trips/new">Create a new trip</a>
  </body>
</html>