<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%# add new trip as a modal %>
  <a href="trips/new">Create a new trip</a>
  </body>
</html>