<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
  <% trips.forEach(function(trips) { %>
  	<div>
  	<li><%= trips.tripname %></li>
  	</div>
  <% }) %>
  </ul>
  </body>
</html>